menu "Codec"
comment "Codecs"
config BUILD_MW_CODEC_VIDEOENC
	depends on BUILD_MW_FLOW
	bool "Build MW VideoEnc Codec"
	default y

config BUILD_MW_CODEC_STILLENC
	depends on BUILD_MW_FLOW
	bool "Build MW StillEnc Codec"
	default y

config BUILD_MW_CODEC_AUDIOENC
	depends on BUILD_MW_FLOW
	bool "Build MW AudioEnc Codec"
	default y

config ENABLE_DECODE_MODULE
    depends on BUILD_MW_FLOW
    bool "Enable decode module"
    default y

endmenu

